.card-slider{
     max-height: 700px;
     border-radius: 10px;

}
.slides-style{
     padding-left: 20px;
}
// .zoom-within-container {
//      height: 300px;
//      overflow: hidden; 
//    }
//    .zoom-within-container img {
//      transition: transform .5s ease;
//    }
//    .zoom-within-container:hover img {
//      transform: scale(1.5);
//    }
.brightness-img img {
     transition: transform 0.5s, filter 1.5s ease-in-out;
     transform-origin: center center;
     filter: brightness(80%);
   }
    
   /* The Transformation */
   .brightness-img:hover img {
     filter: brightness(100%);
     transform: scale(1.3);
   }
   .card-of-text{
     border-radius: 20px;
     border-color: #525252;
     box-shadow: 0px 1px 1px 1px #b6b7b7;

   }
   .logo-style{
     text-align: center;
   }
   .text-style{
     padding: 25px;
     font-size: 120%;
     text-align: justify;
     text-justify: inter-word;
     line-height: 250%;
     direction: rtl;
     color: #002540;
     margin-top: 20px;
     text-align: center;
   }
   .contactus-style1{
    vertical-align:text-bottom ;
    margin-top: 15px;
    margin-left: 6px;
    size: 15px;
    border-radius: 15px;
    font-size: smaller;

    width: 153px;
    height: 25px;
    color: white;
    background-color: #002540;
  }
  

  .contactus-style2{
    font-size:13px;
  }

  div{
    font-family: B_Homa;
  }


    .contactus-style{
      vertical-align:text-bottom ;
      margin-top: 15px;
      margin-left: 6px;
      size: 15px;
      border-radius: 15px;
      width: 153px;
      height: 20px;
      color: white;
      background-color: #002540;
    }
    .exit-btn{
      -webkit-transform: scaleX(-1);
       transform: scaleX(-1);
     }

     div.stars {
      width: 270px;
      display: inline-block;
    }
     
    input.star { display: none; }
     
    label.star {
      float: right;
      padding: 10px;
      font-size: 36px;
      color: #444;
      transition: all .2s;
    }
     
    input.star:checked ~ label.star:before {
      content: '\f005';
      color: rgb(244, 91, 91);
      transition: all .25s;
    }
    input.star-3:checked ~ label.star:before {
      color: rgb(255, 192, 110);
      text-shadow: 0 0 20px rgb(255, 192, 110);
    }

    input.star-4:checked ~ label.star:before {
      color: rgb(255, 243, 110);
      text-shadow: 0 0 20px rgb(255, 243, 110);
    }
     
    input.star-5:checked ~ label.star:before {
      color: rgb(255, 225, 2);
      text-shadow: 0 0 20px rgb(255, 225, 2);
    }
     
    input.star-1:checked ~ label.star:before { color: rgb(255, 34, 34); }
     
    label.star:hover { transform: rotate(-15deg) scale(1.3); }
     
    label.star:before {
      content: '\f006';
      font-family: FontAwesome;
    }
