<ion-content overflow-scroll="false" >
  <div style="background-image:url('https://golestankooh.com/apppictures/mainback.png'); background-size: cover;" >
    <app-toolbar></app-toolbar>

  
  <ion-card class="card-of-text">

  
  <div class="text-style">
  <span class="text-style">
    <a href="https://instagram.com/golestankooh_org?igshid=OGQ5ZDc2ODk2ZA==">
      <img class="" src="https://golestankooh.com/apppictures/Instagram_icon.png" alt=”phone” style="width: 40px;" />
    </a>
    </span>
  </div>

  <div class="mainback>">


    <img class="main22" src="https://golestankooh.com/apppictures/contactusmobile.png">




  </div>
  
  </ion-card>
  <app-mainfooter></app-mainfooter>
  
  </div>
  </ion-content>
  