<ion-content  overflow-scroll="false" >
  <app-toolbar></app-toolbar>
  <div class="main1">
    <div>
      <div class="videomain">
        <video #myVideo controls autoplay style="border-radius: 45px;">
          <source src="https://golestankooh.com/videos/mainvideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

        <div class="namebrand">

          <p class="golestan" style="font-size: 16px;">GOLESTANKOOH KHANSAR</p>
        
        </div>

  


          <div class="menu-pages text-center"  >
            <div class="menu-pages text-center" style="display: flex; justify-content: center;" >
            <ion-card class="menu-pages-card scroll"  style="margin: 16px;">
    
      <div class="home-detailes-style " dir="rtl">
    
        <li class="nav-item m-2" style="margin-left: 6px;">
            <img onclick = "window.location.href='https://facilities.golestankooh.com/abi/';" src="https://golestankooh.com/apppictures/facilities/1.png" style="width: 60px; cursor: pointer;">
            <button class=" mt-1 btn home-detailes-style home-detailes-style1 me-1" onclick = "window.location.href='https://facilities.golestankooh.com/abi/';"
             style="width: 115px;"> مجـــموعه آبـــی </button>
        </li>
    
        <li class="nav-item m-2">
            <img onclick = "window.location.href='https://facilities.golestankooh.com/karvansara/';"  src="https://golestankooh.com/apppictures/facilities/2.png" style="width: 60px; cursor: pointer;">
            <button class=" mt-1 btn home-detailes-style home-detailes-style1" onclick = "window.location.href='https://facilities.golestankooh.com/karvansara/';"
            style="width: 98px;" >عمارت چلچراغ</button>
        </li>
    
        <li class="nav-item m-2">
            <img  onclick = "window.location.href='https://facilities.golestankooh.com/mehmankade/';" src="https://golestankooh.com/apppictures/facilities/3.png" style="width: 60px; cursor: pointer;">
            <button class=" mt-1 btn home-detailes-style home-detailes-style1"
             style="width: 120px;" onclick = "window.location.href='https://facilities.golestankooh.com/mehmankade/';" >  مهمانکده دهکده </button>
        </li>
    
    
        <li class="nav-item m-2">
            <img  onclick = "window.location.href='https://facilities.golestankooh.com/burrito-resturant';" src="https://golestankooh.com/apppictures/facilities/4.png" style="width: 60px; cursor: pointer;">
            
            <button class=" mt-1 btn home-detailes-style home-detailes-style1 me-1 bashgah"
             style="width: 98px; margin-left: 2px;"  onclick = "window.location.href='https://facilities.golestankooh.com/burrito-resturant';"> رستوران بوریتو</button>
            
        </li>
        <li class="nav-item m-2">
            <img  onclick = "window.location.href='https://facilities.golestankooh.com/sport/';" src="https://golestankooh.com/apppictures/facilities/5.png" style="width: 60px; cursor: pointer;">
            
            <button class="  mt-1 btn home-detailes-style home-detailes-style1 " 
            style="width: 110px;" onclick = "window.location.href='https://facilities.golestankooh.com/sport/';">زمین های ورزشی </button>
            
        </li>
        <li class="nav-item text-center m-2">
            <img  onclick = "window.location.href='https://facilities.golestankooh.com/nabere/';" src="https://golestankooh.com/apppictures/facilities/6.png" style="width: 60px; cursor: pointer;">
            
            <button class=" mt-1 btn home-detailes-style home-detailes-style1 "
             style="width: 98px; margin-left: 5px;" onclick = "window.location.href='https://facilities.golestankooh.com/nabere/';"> باغ رستوران نابره 
    
            </button>
        </li>
    
      <li class="nav-item m-2">
          <img onclick = "window.location.href='https://facilities.golestankooh.com/talar/';" src="https://golestankooh.com/apppictures/facilities/7.png" style="width: 60px; cursor: pointer;">
          
          <button class=" mt-1 btn home-detailes-style home-detailes-style1 me-1 bashgah"
           style="width: 98px; margin-left: 2px;" onclick = "window.location.href='https://facilities.golestankooh.com/talar/';"> تـــــــــالار</button>
          
      </li>
      <li class="nav-item m-2">
          <img onclick = "window.location.href='https://facilities.golestankooh.com/sharbatkhane/';" src="https://golestankooh.com/apppictures/facilities/8.png" style="width: 60px; cursor: pointer;">
          
          <button class="  mt-1 btn home-detailes-style home-detailes-style1 " 
          style="width: 98px;"   onclick = "window.location.href='https://facilities.golestankooh.com/sharbatkhane/';">شــربـت خــانـه </button>
          
      </li>
      <li class="nav-item text-center m-2">
          <img  onclick = "window.location.href='https://facilities.golestankooh.com/cafe/';" src="https://golestankooh.com/apppictures/facilities/9.png" style="width: 60px; cursor: pointer;">
          
          <button class=" mt-1 btn home-detailes-style home-detailes-style1 "
           style="width: 115px; margin-left: 5px;" onclick = "window.location.href='https://facilities.golestankooh.com/cafe/';"> کــــافی شـــاپ
  
          </button>
      </li>

    <li class="nav-item m-2">
        <img onclick = "window.location.href='https://facilities.golestankooh.com/golestanfood/';" src="https://golestankooh.com/apppictures/facilities/13.png" style="width: 60px; cursor: pointer;">
        
        <button class=" mt-1 btn home-detailes-style home-detailes-style1 me-1 bashgah" 
        style="width: 115px; margin-left: 2px;" onclick = "window.location.href='https://facilities.golestankooh.com/golestanfood/';">گلستانفود</button>
        
    </li>
    </div>

    <div class="home-detailes-style " dir="rtl">

    <li class="nav-item m-2">
        <img   onclick = "window.location.href='https://facilities.golestankooh.com/bazarche/';" src="https://golestankooh.com/apppictures/facilities/11.png" style="width: 60px; cursor: pointer;">
        
        <button class="  mt-1 btn home-detailes-style home-detailes-style1 "
         style="width: 98px;"  onclick = "window.location.href='https://facilities.golestankooh.com/bazarche/';">بـــــازارچـــــه  </button>
        
    </li>


    <li class="nav-item text-center m-2">
        <img  onclick = "window.location.href='https://facilities.golestankooh.com/golkhane/';" src="https://golestankooh.com/apppictures/facilities/12.png" style="width: 60px; cursor: pointer;">
        
        <button class=" mt-1 btn home-detailes-style home-detailes-style1 "
         style="width: 98px; margin-left: 5px;"  onclick = "window.location.href='https://facilities.golestankooh.com/golkhane/';"> گــــلخـــــانــه

        </button>
    </li>


  <li class="nav-item text-center m-2">
      <img  onclick = "window.location.href='https://facilities.golestankooh.com/gamecenter/';" src="https://golestankooh.com/apppictures/facilities/10.png" style="width: 60px; cursor: pointer;">
      
      <button class=" mt-1 btn home-detailes-style home-detailes-style1 "
       style="width: 115px; margin-left: 5px;"  onclick = "window.location.href='https://facilities.golestankooh.com/gamecenter/';"> گیم سنتر

      </button>
  </li>
</div>


<!--این قسمت مخصوص نسخه موبایل میباشد-->
<div class="home-detailes-style-mobile " dir="rtl">
  <li class="nav-item m-2" style="margin-left: 6px;">
    <img onclick = "window.location.href='https://facilities.golestankooh.com/abi/';" src="https://golestankooh.com/apppictures/facilities/1.png" style="width: 60px; cursor: pointer;">
    <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 me-1" onclick = "window.location.href='https://facilities.golestankooh.com/abi/';"
     style="width: 115px;"> مجـــموعه آبـــی </button>
</li>

<li class="nav-item m-2">
    <img onclick = "window.location.href='https://facilities.golestankooh.com/karvansara/';"  src="https://golestankooh.com/apppictures/facilities/2.png" style="width: 60px; cursor: pointer;">
    <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1" onclick = "window.location.href='https://facilities.golestankooh.com/karvansara/';" 
    style="width: 98px;" >عمارت چلچراغ</button>
</li>

<li class="nav-item m-2">
    <img  onclick = "window.location.href='https://facilities.golestankooh.com/mehmankade/'" src="https://golestankooh.com/apppictures/facilities/3.png" style="width: 60px; cursor: pointer;">
    <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1"
     style="width: 120px;" onclick = "window.location.href='https://facilities.golestankooh.com/mehmankade/'">مهمانکده دهکده </button>
</li>
</div>

<div class="home-detailes-style-mobile " dir="rtl">
<li class="nav-item m-2">
    <img  onclick = "window.location.href='https://facilities.golestankooh.com/burrito-resturant';" src="https://golestankooh.com/apppictures/facilities/4.png" style="width: 60px; cursor: pointer;">
    
    <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 me-1 bashgah"
     style="width: 98px; margin-left: 2px;" onclick = "window.location.href='https://facilities.golestankooh.com/burrito-resturant';"> رستوران بوریتو</button>
    
</li>
<li class="nav-item m-2">
    <img  onclick = "window.location.href='https://facilities.golestankooh.com/sport/';" src="https://golestankooh.com/apppictures/facilities/5.png" style="width: 60px; cursor: pointer;">
    
    <button class="  mt-1 btn home-detailes-style-mobile home-detailes-style1 " 
    style="width: 110px;" onclick = "window.location.href='https://facilities.golestankooh.com/sport/';">زمین های ورزشی </button>
    
</li>
<li class="nav-item text-center m-2">
    <img onclick = "window.location.href='https://facilities.golestankooh.com/nabere/';" src="https://golestankooh.com/apppictures/facilities/6.png" style="width: 60px; cursor: pointer;">
    
    <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 "
     style="width: 98px; margin-left: 5px;"  onclick = "window.location.href='https://facilities.golestankooh.com/nabere/';"> باغ رستوران نابره 

    </button>
</li>
</div>

<div class="home-detailes-style-mobile " dir="rtl">
<li class="nav-item m-2">
  <img onclick = "window.location.href='https://facilities.golestankooh.com/talar/';" src="https://golestankooh.com/apppictures/facilities/7.png" style="width: 60px; cursor: pointer;">
  
  <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 me-1 bashgah"
   style="width: 110px; margin-left: 2px;" onclick = "window.location.href='https://facilities.golestankooh.com/talar/';"> تـــــــــالار</button>
  
</li>
<li class="nav-item m-2">
  <img  onclick = "window.location.href='https://facilities.golestankooh.com/sharbatkhane/';" src="https://golestankooh.com/apppictures/facilities/8.png" style="width: 60px; cursor: pointer;">
  
  <button class="  mt-1 btn home-detailes-style-mobile home-detailes-style1 " 
  style="width: 98px;" onclick = "window.location.href='https://facilities.golestankooh.com/sharbatkhane/';">شــربـت خــانـه </button>
  
</li>
<li class="nav-item text-center m-2">
  <img onclick = "window.location.href='https://facilities.golestankooh.com/cafe/';" src="https://golestankooh.com/apppictures/facilities/9.png" style="width: 60px; cursor: pointer;">
  
  <button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 "
   style="width: 115px; margin-left: 5px;"  onclick = "window.location.href='https://facilities.golestankooh.com/cafe/';"> کــــافی شـــاپ

  </button>
</li>
</div>


<div class="home-detailes-style-mobile " dir="rtl">
<li class="nav-item m-2">
<img onclick = "window.location.href='https://facilities.golestankooh.com/golestanfood/';" src="https://golestankooh.com/apppictures/facilities/13.png" style="width: 60px;  margin-left: 8px; cursor: pointer;">

<button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 me-1 bashgah" 
style="width: 95px; margin-left: 8px;" onclick = "window.location.href='https://facilities.golestankooh.com/golestanfood/';"> گلستانفود</button>

</li>


<li class="nav-item m-2">
<img  onclick = "window.location.href='https://facilities.golestankooh.com/bazarche/';" src="https://golestankooh.com/apppictures/facilities/11.png" style="width: 60px; margin-left: 13px; cursor: pointer;">

<button class="  mt-1 btn home-detailes-style-mobile home-detailes-style1 "
 style="width: 98px; margin-left: 13px;"   onclick = "window.location.href='https://facilities.golestankooh.com/bazarche/';">بـــــازارچـــــه  </button>

</li>


<li class="nav-item text-center m-2">
<img  onclick = "window.location.href='https://facilities.golestankooh.com/golkhane/';" src="https://golestankooh.com/apppictures/facilities/12.png" style="width: 60px; cursor: pointer;">

<button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 "
 style="width: 98px; " onclick = "window.location.href='https://facilities.golestankooh.com/golkhane/';"> گــــلخـــــانــه

</button>
</li>

</div>


<div class="home-detailes-style-mobile " dir="rtl">
<li class="nav-item text-center m-2">
<img  onclick = "window.location.href='https://facilities.golestankooh.com/gamecenter/';" src="https://golestankooh.com/apppictures/facilities/10.png" style="width: 60px; cursor: pointer;">

<button class=" mt-1 btn home-detailes-style-mobile home-detailes-style1 "
style="width: 115px;"  onclick = "window.location.href='https://facilities.golestankooh.com/gamecenter/';"> گیم سنتر

</button>
</li>
</div>


      </ion-card>
      
    </div>


<app-mainfooter></app-mainfooter>
    
    </div>
    </div>  
    </div>

</ion-content>
