<ion-content  overflow-scroll="false" >
  <div class="thumbs">
    
    <a href="#target1"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/1.jpg' alt=''></a>
    <a href="#target2"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/2.jpg' alt=''></a>
    <a href="#target3"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/3.jpg' alt=''></a>
    <a href="#target4"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/4.jpg' alt=''></a>
    <a href="#target5"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/5.jpg' alt=''></a>
    <a href="#target6"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/6.jpg' alt=''></a>
    <a href="#target7"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/7.jpg' alt=''></a>
    <a href="#target8"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/8.jpg' alt=''></a>
    <a href="#target9"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/9.jpg' alt=''></a>
    <a href="#target10"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/10.jpg' alt=''></a>
    <a href="#target11"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/11.jpg' alt=''></a>
    <a href="#target12"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/12.JPG' alt=''></a>
  
  
    <a href="#target13"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/13.JPG' alt=''></a>
    <a href="#target16"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/14.JPG' alt=''></a>
    <a href="#target17"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/15.JPG' alt=''></a>

  
  </div>
  
  <div class="lightbox">
    <div class="target" id="target1">
      <div class="content">
        <img src='https://golestankooh.com/apppictures/zaminvarzeshi/1.jpg' alt=''>
      </div>
      <a href="#target2" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target2">
      <a href="#target1" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/2.jpg" alt=''></div>
        <a href="#target3" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target3">
      <a href="#target2" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content"><img src='https://golestankooh.com/apppictures/zaminvarzeshi/3.jpg' alt=''></div>
      <a href="#target4" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target4">
      <a href="#target3" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/4.jpg" alt=''></div>
        <a href="#target5" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target5">
      <a href="#target4" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/5.jpg" alt=''></div>
        <a href="#target6" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target6">
      <a href="#target5" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/6.jpg" alt=''></div>
        <a href="#target7" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target7">
      <a href="#target6" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/7.jpg" alt=''></div>
        <a href="#target8" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target8">
      <a href="#target7" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/8.jpg" alt=''></div>
        <a href="#target9" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target9">
      <a href="#target8" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/9.jpg" alt=''></div>
        <a href="#target10" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target10">
      <a href="#target9" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/10.jpg" alt=''></div>
        <a href="#target11" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target11">
      <a href="#target10" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/11.jpg" alt=''></div>
        <a href="#target12" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target12">
      <a href="#target11" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/12.JPG" alt=''></div>
        <a href="#target13" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
  
  
  
  
    <div class="target" id="target13">
      <a href="#target12" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/13.JPG" alt=''></div>
        <a href="#target16" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>  
    <div class="target" id="target16">
      <a href="#target13" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/14.JPG" alt=''></div>
        <a href="#target17" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>  
    <div class="target" id="target17">
      <a href="#target16" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/zaminvarzeshi/15.JPG" alt=''></div>
    </div>
     
    
    <a href="#!" class="close nav"><img src='https://golestankooh.com/apppictures/exit.png' alt='' style="width: 25px;"></a>
  </div>