<ion-content overflow-scroll="false" >
  <app-toolbar></app-toolbar>

  
  
<div style="background-image:url('https://golestankooh.com/apppictures/mainback.png'); background-size: cover;" >


<ion-card class="card-of-text">
  <div class="logo-style">
  <img class="logo-style" src="https://golestankooh.com/apppictures/whitelogo.png" style="width: 100px; height:100px; margin-bottom: -50px; ">
</div>

<div class="text-style">
<span class="text-style">
 <h3>مجموعه تجاری – فرهنگی </h3>
  این مجموعه با مساحت 3000 متر مربع در حال ساخت می باشد.
  این مجموعه شامل مجموعه فود کورت ، فروشگاه های تجاری و مجموعه آمفی تئاتر با ظرفیت 200 نفر می باشد.<br>
  مرحله ساخت : پایان سفت کاری <br>
  زمان افتتاح : سال 1403 <br><br>
  مجموعه اقامتی دهکده گلستانکوه <br>
  این مجموعه در زمینی به مساحت 20000 متر مربع در حال ساخت می باشد.
  و شامل 52 واحد اتاق و سوئیت اقامتی با خدمات هتلی می باشد.
  این اتاق ها با امکانات هتل های پنج ستاره طراحی گردیده اند و با افتتاح این مجموعه ظرفیت اسکان میهمانان در دهکده به 450 نفر در روز می رسد.<br><br>
  <h3>	مرحله ساخت اسکلت </h3>
  زمان افتتاح :24 واحد سال 1402<br>
                   28 واحد سال 1403 <br><br>
 <h3> ساختمان اداری خدماتی </h3>
  این مجموعه با مساحت 2000 متر مربع در حال طراحی است .
  کاربری این مجموعه به عنوان ساختمان اداری دهکده ،پذیرش مجموعه و ارائه خدماتی مانند دفاتر آژانس ها ،حمل و نقل و....می باشد.<br>
  زمان افتتاح :1404<br><br>
 <h3>تفریحی – سرگرمی </h3>
  -	راه اندازی بازی های هیجانی مانند زیپ لاین ، جامپینگ، و... در زمینی به مساحت حدود 000/30 متر مربع 
  -	راه اندازی سایت پروازی پاراگلایدر <br>
  -	زمان افتتاح :1404 <br><br>
  <h3>فضای سبز تجهیز شده :</h3>
  -	باغ پرندگان : در زمینی به مساحت 5000 متر مربع به بهره برداری خواهد رسید . 
  -	باغ موسیقی : در زمینی به مساحت 5000 متر مربع به بهره برداری خواهد رسید.<br>
  -	زمان افتتاح :1404
  
  </span>
</div>


</ion-card>
<app-mainfooter></app-mainfooter>

</div>
</ion-content>
