<ion-content>
  <ion-content overflow-scroll="false" >
    <ion-button color="danger" (click)="exitToFacilities()" style="margin: 20px;" title="بازگشت به صفحه ی نخست">
      <ion-icon class="exit-btn" name="exit"></ion-icon>
    </ion-button>  <div style="background-color: #002540;">
  <ion-card class="card-slider">
    <ion-slides [options]="slideOpts">
      <ion-slide class="zoom-without-container brightness-img">
        <img class="slides-style" src="assets\imges\khanehabibi\golestankooh.jpg" alt=”slide-1” />
      </ion-slide>

    </ion-slides>
  </ion-card>
  <!-- <li title="برای دیدن تصاویر بشتر کلیک کنید " style="margin-left: 18px; color: #002540; text-decoration:none; list-style-type:none; " 
   oncopy="return false" oncut="return false" onpaste="return false" (click)="goToGallery()">
    <ion-icon style="    vertical-align: sub;" name="arrow-back-outline"></ion-icon>تصاویر بیشتر </li> -->
  
  <ion-card class="card-of-text" style="margin-top: 40px; ;">
    <div style="text-align: center; color:#002540;">
      <h2>غار دستکند رحمت آباد  </h2>
  </div>
  
  <div class="text-style">
  <span class="text-style">

    قدمت این غارهای دستکند که از ظرفیت یک تپه طبیعی جهت فضاهای مسکونی استفاده شده است به پیش از اسلام میرسد. 
    اما نمای بیرونی تپه که به صورت یک قلعه ساخته شده است مربوط به دوره بعد از اسلام است و در اواخر صفویه و احتمالاً درحمله افغان ها بخشهای زیادی از آن از بین رفته است. 
    
    
    </span>
  </div>
  
      <div class="" style="text-align: center; margin-right:15px;">
      <ion-button title="مسیریابی"
      style="margin-top: 35px; margin-left: 30px; border-radius: 10px; margin-bottom: 35px; text-align: end;" 
      color="" id="open-modal"> 
      <ion-icon name="location-outline"  style="width: 50px;"></ion-icon>
      </ion-button>
      <ion-button title="ثبت نظر"
      style="margin-top: 35px; margin-left: 30px; border-radius: 10px; margin-bottom: 35px; text-align: end;" 
      color="" id="open-modal"> 
      <ion-icon name="chatbubbles-outline" title="ثبت نظر" style="width: 50px;"></ion-icon>
      </ion-button>

     </div>

  
  </ion-card>
  <div class="row text-center contact-detaile-style " style="justify-content: center; justify-items: center; margin-bottom: 20px; margin-top: 10px;">
    <div class="col-4 contactus-style1 contactus-style2" style="margin-left: 20px; color: aliceblue;">
      <a style="text-decoration: none; color: aliceblue;" href="https://instagram.com/golestankooh_org?igshid=Yzg5MTU1MDY="  target="_blank" rel="noopener noreferrer">
        <span class=" link-insta  " style="height: 25px; margin-bottom: 7px; color: aliceblue;">
          <ion-icon name="logo-instagram" style="padding-right: 3.5px; padding-top: 5px;"></ion-icon>
        </span>Golestankooh_org
      </a>
    </div>  
  
    <div class="col-4 contactus-style1 " style="margin-left: 35px; margin-bottom: 15px;">
      <span class="text-center   " style="height: 25px; margin-bottom: 7px;">
          <img class="" src="assets\imges\Phone.png" style="width: 20px; height:20px; font-size: smaller; margin-bottom: 7px; ">
      </span>031-5777-9955
  </div>
  </div>
  </div>
  </ion-content>
  
</ion-content>
