<ion-content  overflow-scroll="false" >
<div class="thumbs">
  
  <a href="#target1"><img src='https://golestankooh.com/apppictures/abi/1.jpg' alt=''></a>
  <a href="#target2"><img src='https://golestankooh.com/apppictures/abi/2.JPG' alt=''></a>
  <a href="#target3"><img src='https://golestankooh.com/apppictures/abi/3.JPG' alt=''></a>
  <a href="#target4"><img src='https://golestankooh.com/apppictures/abi/4.JPG' alt=''></a>
  <a href="#target5"><img src='https://golestankooh.com/apppictures/abi/5.JPG' alt=''></a>
  <a href="#target6"><img src='https://golestankooh.com/apppictures/abi/6.jpg' alt=''></a>
  <a href="#target7"><img src='https://golestankooh.com/apppictures/abi/7.jpg' alt=''></a>
  <a href="#target8"><img src='https://golestankooh.com/apppictures/abi/8.JPG' alt=''></a>
  <a href="#target9"><img src='https://golestankooh.com/apppictures/abi/9.jpg' alt=''></a>
  <a href="#target10"><img src='https://golestankooh.com/apppictures/abi/10.jpg' alt=''></a>
  <a href="#target11"><img src='https://golestankooh.com/apppictures/abi/11.jpg' alt=''></a>
  <a href="#target12"><img src='https://golestankooh.com/apppictures/abi/12.jpg' alt=''></a>


  <a href="#target15"><img src='https://golestankooh.com/apppictures/nabere/1.jpg' alt=''></a>
  <a href="#target16"><img src='https://golestankooh.com/apppictures/nabere/2.jpg' alt=''></a>
  <a href="#target17"><img src='https://golestankooh.com/apppictures/nabere/3.jpg' alt=''></a>
  <a href="#target18"><img src='https://golestankooh.com/apppictures/nabere/4.jpg' alt=''></a>
  <a href="#target19"><img src='https://golestankooh.com/apppictures/suits/1.jpg' alt=''></a>
  <a href="#target20"><img src='https://golestankooh.com/apppictures/suits/2.jpg' alt=''></a>
  <a href="#target21"><img src='https://golestankooh.com/apppictures/suits/3.jpg' alt=''></a>
  <a href="#target22"><img src='https://golestankooh.com/apppictures/suits/4.jpg' alt=''></a>
  <a href="#target23"><img src='https://golestankooh.com/apppictures/suits/5.jpg' alt=''></a>
  <a href="#target24"><img src='https://golestankooh.com/apppictures/suits/6.jpg' alt=''></a>
  <a href="#target25"><img src='https://golestankooh.com/apppictures/karvansara/1a.jpg' alt=''></a>
  <a href="#target26"><img src='https://golestankooh.com/apppictures/karvansara/2a.jpg' alt=''></a>
  <a href="#target27"><img src='https://golestankooh.com/apppictures/karvansara/3a.jpg' alt=''></a>
  <a href="#target28"><img src='https://golestankooh.com/apppictures/karvansara/1.jpg' alt=''></a>
  <a href="#target29"><img src='https://golestankooh.com/apppictures/karvansara/2.jpg' alt=''></a>
  <a href="#target30"><img src='https://golestankooh.com/apppictures/talar/1.JPG' alt=''></a>
  <a href="#target31"><img src='https://golestankooh.com/apppictures/talar/2.JPG' alt=''></a>




</div>

<div class="lightbox">
  <div class="target" id="target1">
    <div class="content">
      <img src='https://golestankooh.com/apppictures/abi/1.jpg' alt=''>
    </div>
    <a href="#target2" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target2">
    <a href="#target1" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/2.JPG" alt=''></div>
    <a href="#target3" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target3">
    <a href="#target2" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content"><img src='https://golestankooh.com/apppictures/abi/3.JPG' alt=''></div>
    <a href="#target4" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target4">
    <a href="#target3" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/4.JPG" alt=''></div>
    <a href="#target5" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target5">
    <a href="#target4" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/5.JPG" alt=''></div>
    <a href="#target6" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target6">
    <a href="#target5" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/6.jpg" alt=''></div>
    <a href="#target7" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target7">
    <a href="#target6" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/7.jpg" alt=''></div>
    <a href="#target8" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target8">
    <a href="#target7" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/8.JPG" alt=''></div>
    <a href="#target9" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target11">
    <a href="#target8" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/11.jpg" alt=''></div>
    <a href="#target10" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target10">
    <a href="#target11" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/abi/10.jpg" alt=''></div>
      <a href="#target10" class="fas fa-chevron-right nav" title="next"></a>
  </div>




  <div class="target" id="target15">
    <a href="#target10" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/nabere/1.jpg" alt=''></div>
      <a href="#target16" class="fas fa-chevron-right nav" title="next"></a>
  </div>  
  <div class="target" id="target16">
    <a href="#target15" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/nabere/2.jpg" alt=''></div>
      <a href="#target17" class="fas fa-chevron-right nav" title="next"></a>
  </div>  
  <div class="target" id="target17">
    <a href="#target16" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/nabere/3.jpg" alt=''></div>
      <a href="#target18" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target18">
    <a href="#target17" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/nabere/4.jpg" alt=''></div>
      <a href="#target19" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target19">
    <a href="#target18" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/1.jpg" alt=''></div>
      <a href="#target20" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target20">
    <a href="#target19" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/2.jpg" alt=''></div>
      <a href="#target21" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target21">
    <a href="#target20" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/3.jpg" alt=''></div>
      <a href="#target22" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target22">
    <a href="#target21" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/4.jpg" alt=''></div>
      <a href="#target23" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target23">
    <a href="#target22" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/5.jpg" alt=''></div>
      <a href="#target24" class="fas fa-chevron-right nav" title="next"></a>
  </div>
    <div class="target" id="target24">
    <a href="#target23" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/suits/6.jpg" alt=''></div>
      <a href="#target25" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target25">
    <a href="#target24" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/karvansara/1a.jpg" alt=''></div>
      <a href="#target26" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target26">
    <a href="#target25" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/karvansara/2a.jpg" alt=''></div>
      <a href="#target27" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target27">
    <a href="#target26" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/karvansara/3a.jpg" alt=''></div>
      <a href="#target28" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target28">
    <a href="#target27" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/karvansara/1.jpg" alt=''></div>
      <a href="#target29" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target29">
    <a href="#target28" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/talar/2.JPG" alt=''></div>
      <a href="#target30" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target30">
    <a href="#target29" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/talar/1.JPG" alt=''></div>
      <a href="#target31" class="fas fa-chevron-right nav" title="next"></a>
  </div>
  <div class="target" id="target31">
    <a href="#target30" class="fas fa-chevron-left nav" title="previous"></a>
    <div class="content">
      <img src="https://golestankooh.com/apppictures/talar/2.JPG" alt=''></div>
  </div>
  
  <a href="#!" class="fas fa-times close nav"></a>
</div>