<ion-content overflow-scroll="false" >
<div style="background-image:url('https://golestankooh.com/apppictures/mainback.png'); background-size: cover;" >
  <app-toolbar></app-toolbar>


<div class="videomain">
  <video autoplay muted style="border-radius: 45px;">
    <source src="https://golestankooh.com/videos/aboutusvideo.mp4" type="video/mp4">
    </video>
</div>
  
<!--
  <div class="thumbs">
    <a href="#target1"><img src='https://golestankooh.com/apppictures/slider1.jpg' alt=''></a>
    <a href="#target2"><img src='https://images.unsplash.com/photo-1680925723180-ff3cb559c9b4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODE0OTMyMjM&ixlib=rb-4.0.3&q=80&w=400' alt=''></a>
    <a href="#target3"><img src='https://images.unsplash.com/photo-1508849789987-4e5333c12b78?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODE0OTQ0MDQ&ixlib=rb-4.0.3&q=80&w=400' alt=''></a>
  </div>
  
  <div class="lightbox">
    <div class="target" id="target1">

      <div class="content">
        <img src='https://golestankooh.com/apppictures/slider1.jpg' alt=''>
      </div>
      <a href="#target2" class="fas fa-chevron-right nav" title="next"></a>
    </div>
    <div class="target" id="target2">
      <a href="#target1" class="fas fa-chevron-left nav" title="previous"></a>
      <div class="content"><video controls>
        <source src="https://golestankooh.com/videos/dehkade.mp4" type="video/mp4"></video></div>
      <a href="#target3" class="fas fa-chevron-right nav" title="next"></a>
    </div>
    <div class="target" id="target3">
      <a href="#target2" class="fas fa-chevron-left nav" title="previous"></a>
      <div class="content"><img src='https://images.unsplash.com/photo-1508849789987-4e5333c12b78?crop=entropy&cs=srgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODE0OTQ0MDQ&ixlib=rb-4.0.3&q=85' alt=''></div>

    </div>
    <a href="#!" class="fas fa-times close nav"></a>
  </div>

  <div class="buttonn" style="justify-content: center;display:flex;flex-wrap:wrap; margin-top: 2%;">
  <a class="button button-primary" href="#" target="_blank">مشاهده تمامی تصاویر</a>
  </div>

<div>
    
          <ion-card class="card-slider">
    
            <ion-slides [options]="slideOpts">
              <ion-slide class="zoom-without-container brightness-img">
                <img class="slides-style" src="https://golestankooh.com/apppictures/slider1.jpg" alt=”slide-2” />
          </ion-slide>
              <ion-slide class="zoom-without-container brightness-img">
                <video controls>
                  <source src="https://golestankooh.com/videos/dehkade.mp4" type="video/mp4">
                  <button onclick="location.href='https://golestankooh.com/videos/dehkade.mp4'" style="font-family: Ray;"> مشاهده کامل ویدیو</button>
    
                  </video>
              </ion-slide>
            </ion-slides>
    
          </ion-card>
          </div>-->
<!-- <li title="برای دیدن تصاویر بشتر کلیک کنید " style="margin-left: 18px; color: #002540; text-decoration:none; list-style-type:none; " 
 oncopy="return false" oncut="return false" onpaste="return false" (click)="goToGallery()">
  <ion-icon style="    vertical-align: sub;" name="arrow-back-outline"></ion-icon>تصاویر بیشتر </li> -->

<ion-card class="card-of-text" style="margin-top: 40px; ;">
  <div class="logo-style">
  <img class="logo-style" src="https://golestankooh.com/apppictures/whitelogo.png" style="width: 100px; height:100px; ">
</div>

<div class="text-style">
<span class="text-style">
  دهکده گردشگری گلستانکوه خوانسار با هدف ساماندهی صنعت گردشگری منطقه در سال 
  ۱۳۸۸ شروع به فعالیت نموده است. بعد از گذراندن مراحل اداری و آماده سازی اولیه از سال ۱۳۹۰ فعالیت اجرایی 
  این مجموعه آغاز گردیده است .این دهکده با مساحت ۴۵ هکتار در کیلومتر ۲ جاده خوانسار – اصفهان روبروی سد خاکی
   باغکل واقع شده است. دهکده گلستانکوه خوانسار با طراحی مدرن و الهام گرفته از شهرک های توریستی مدرن دنیا،
   در قسمت فضاهای خدماتی (مساحت حدود ۲۵ هکتار ) به بهره برداری رسیده است. فضاهای خدماتی دهکده شامل ویلاهای
   استیجاری ، کاروانسرای سنتی، مجموعه های آبی ( پارک آبی، استخر، سونا، جکوزی ) زمین های ورزشی، رستوران ها،
   بازارچه و فودکورت، پارک تفریحی می باشد . لازم به ذکر است که با پیگیری های انجام شده تمامی زیر ساخت های
   این دهکده اعم از گاز ، برق ، آب شهری ، تلفن و فاضلاب به طور کامل اجرا گردیده و قابل بهره برداری است.
  </span>
  <div class="enamad>">


    <a href="https://trustseal.enamad.ir/?id=424737&Code=Bf19CEoxPsSDFOn8NMcYU8MlYZx2aig0" target="_blank">
      <img src="https://golestankooh.com/apppictures/logoenamad.png" /></a>


  </div>
  
</div>



<div class="" style="text-align: center;">
   <div class="stars " style="text-align: right;">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </div> 
</div>

</ion-card>
<app-mainfooter></app-mainfooter>

</div>
</ion-content>
