<ion-content overflow-scroll="false" >
  <ion-button color="danger" (click)="exitToFacilities()" style="margin: 20px;" title="بازگشت به صفحه ی نخست">
    <ion-icon class="exit-btn" name="exit"></ion-icon>
  </ion-button>  <div style="background-color: #002540;">
<ion-card class="card-slider">
  <ion-slides [options]="slideOpts">
    <ion-slide class="zoom-without-container brightness-img">
      <img class="slides-style" src="assets\imges\burrito\IMG_3764-copy.jpg" alt=”slide-1” />
    </ion-slide>
    <ion-slide class="zoom-without-container brightness-img">
          <img class="slides-style" src="assets\imges\burrito\IMG_3810-copy.jpg" alt=”slide-2” />
    </ion-slide>
    <ion-slide class="zoom-without-container brightness-img">
      <img class="slides-style" src="assets\imges\burrito\IMG_4375-copy-1.jpg" alt=”slide-3” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\IMG_4115-copy-1.jpg" alt=”slide-4” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\IMG_4383-copy.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (1).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (4).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (5).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (10).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (12).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (13).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (15).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (20).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (24).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\1 (25).jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\3.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\10.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\11.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\12.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\13.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\23.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\24.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\25.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\26.jpg" alt=”slide-5” />
</ion-slide>
<ion-slide class="zoom-without-container brightness-img">
  <img class="slides-style" src="assets\imges\burrito\42.jpg" alt=”slide-5” />
</ion-slide>
  </ion-slides>
</ion-card>


<li title="برای دیدن تصاویر بشتر کلیک کنید " style="margin-left: 18px; color: #002540; text-decoration:none; list-style-type:none; " 
 oncopy="return false" oncut="return false" onpaste="return false" (click)="goToGallery()">
  <ion-icon style="    vertical-align: sub;" name="arrow-back-outline"></ion-icon>تصاویر بیشتر </li>

<ion-card class="card-of-text" style="margin-top: 40px; ;">
  <div class="logo-style">
  <img class="logo-style" src="assets\imges\logo1.png" style="width: 100px; height:100px; ">
</div>

<div class="text-style">
<span class="text-style">
  مجموعه رستوران های
   بوریتو در سال 1390 در قسمت تجاری مجتمع نگین نور در شمال ایران با هدف ارائه غذاهای فرنگی در محیطی مناسب و 
  درخور مردم منطقه  و همچنین گردشگران احداث گردید. چشم انداز ما ایجاد کافه - رستورانی با منو جدید، ارائه 
   غذاهای فرنگی با کیفیتی متفاوت از منطقه ، همچنین سرویس دهی مناسب با جذب نیروهای جوان و با تجربه که در 
  نهایت منجر به جلب رضایت مشتریان عزیزمان می باشد که به لطف خداوند تا به امروز در این راه موفق بوده 
  ایم. پس از 2سال فعالیت بوریتو نور و با توجه به استقبال مشتریان ضرورت ایجاد شعبه تهران شکل گرفت .
   این بار با اتکا به تجربه گذشته  با جذب نیروهای کارآمد در محیطی با فضای مناسب کافه رستوران
   بوریتو در مرکز شهرواقع در خیابان آپادانا احداث گردید. رستوران با منو متنوع از غذاهای ایرانی و
   فرنگی و با پتانسیل فضای باز و امکان ارائه قلیان ، قوی تر از قبل به جلب رضایت مشتری که همانا
   مهمترین هدف مجموعه است پرداخته است. امروز شاهد رونق بی نظیر شعبه سوم رستوران در شهر زیبای 
  خوانسار در دهکده گردشگری گلستانکوه و در جوار طبیعت زیبا و بکر این منطقه می باشیم. این شعبه 
  از رستوران نیز با اقبال خوب مواجه گردید و مورد استقبال بومیان و گردشگران قرار گرفته است.
</span>
</div>

<div class="" style="text-align: center;">
  <div class="stars " style="text-align: right;">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </div>  
  
</div>

</ion-card>
<div class="row text-center contact-detaile-style " style="justify-content: center; justify-items: center; margin-bottom: 20px; margin-top: 10px;">
  <div class="col-4 contactus-style1 contactus-style2" style="margin-left: 20px; color: aliceblue;">
    <a style="text-decoration: none; color: aliceblue;" href="https://instagram.com/golestankooh_org?igshid=Yzg5MTU1MDY="  target="_blank" rel="noopener noreferrer">
      <span class=" link-insta  " style="height: 25px; margin-bottom: 7px; color: aliceblue;">
        <ion-icon name="logo-instagram" style="padding-right: 3.5px; padding-top: 5px;"></ion-icon>
      </span>Golestankooh_org
    </a>
  </div>
  <div class="col-4 contactus-style1 " style="margin-left: 35px; margin-bottom: 15px;">
    <span class="text-center   " style="height: 25px; margin-bottom: 7px;">
        <img class="" src="assets\imges\Phone.png" style="width: 20px; height:20px; font-size: smaller; margin-bottom: 7px; ">
    </span>031-5777-9955
</div>
</div>
</div>
</ion-content>
