
<ion-card class="card-of-text" style="margin-top: 40px; ;">
  <div class="logo-style">
  <img class="logo-style" src="assets\imges\logo1.png" style="width: 100px; height:100px; ">
</div>

<div class="text-style">
<span class="text-style">

  جاذبه های گردشگری گلپایاگان

مسجد جامع
مسجد گلپایگان اولین جایی است که در جاهای دیدنی گلپایگان قرار می گیرد، این مسجد متعلق به دوران سلجوقیان است و از
آن به عنوان مسجد سلجوقی نیز یاد می شود. صحن و شبستان این مسجد بسیار وسیع بوده است، گنبد آن بزرگ بوده و از آجر
ساخته شده است. برای زینت دادن به بنای داخلی مسجد، کتبیه ی دور گنبد و همچنین اطراف محراب کنده کاری شده است.
آدرس: گلپایگان، خیابان مسجد جامع

مناره گلپایگان
یکی از بلندترین سازههای تاریخی ایران، با ۱۸ متر ارتفاع، در شهرستان گلپایگان قرار دارد که به »مناره گلپایگان« یا »میل
گلپایگان« نیز شهرت دارد. این اثر تاریخی که متعلق به دوران سلجوقیان است، با قدمتی بالغ بر ۹ قرن، شاهد رخدادهای مختلف
تاریخی است و به نظر میرسد با روشن کردن چراغ برفراز آن، همچون راهنمایی برای کاروانیان بوده است. میل گلپایگان دارای دو
در، پلکانی داخل مناره، کتیبهای به خط کوفی بدون تاریخ، منقوش به آیات قرآن به خط کوفی و نیز دو راه پله با ۶۴ پله است که
احتماال دوران ساخت آن، متقارن با احداث مسجد جامع و بازار چهارسوق است.
آدرس: شهر گلپایگان، خیابان امام خمینی، سه راه آیت اهلل طالقانی، روبهروی پارک فانوس

بازار چهارسوق گلپایگان
»بازار سنتی« شهرستان گلپایگان که به »بازار چهارسوق« نیز شناخته میشود، متشکل از بخشهایی همچون بازار مسگرها، بازار
اصلی، بازار گیوهدوزان، بازار کوزهگرها، بازار فرشفروشان و بازارهای متعدد دیگری بههمراه چند پاساژ است. این مجموعه دارای
دهانهای با وسعت بسیار و طاقبندی و سقف ضربی آجری است که بیانگر معماری ساختمانهای دوران سلجوقی است؛ اهمیت این
بازار نیز با توجه به معماری انجام شده در آن و نیز موقعیت مکانی آن است که همانند پلی موصالتی بین مسجد جامع و منارهی
گلپایگان، عمل میکند. سازندگان این اثر ۴۰۰ ساله، آن را همانند دیگر بازارهای سنتی کشور، با طاق آجری، تعبیه فضاهای جانبی
همچون چایخانه و تیمچه، بنا کردهاند که از گذشته تا به امروز، یکی از مراکز اصلی تجاری در گلپایگان محسوب میشود.
آدرس: شهر گلپایگان، خیابان امام خمینی

بقعه امامزادگان هفده تن:
از دیگر جاذبههای گردشگری مذهبی در شهرستان گلپایگان، بنایی است مشهور به »بقعه امامزادگان هفده تن« که قدمت آن به
قرن یازدهم هجری قمری و دوران حکومت »شاه عباس صفوی«، بازمیگردد. این اثر تاریخی متشکل از ایوان، غرفههایی در دو
طبقه، گلدسته، چهار در سه سرراهی، چند کتیبه و گنبد است.
تزیینات معماری، همچون کاشیکاریهای انجام شده در بقعه امامزادگان هفده تن، بسیار زیبا و قابل تحسین است
از ویژگیهای بارز این بقعه، تزیینات معماری آن است که با ظرافت و هنرمندی بسیار صورت گرفته و توجه بازدیدکنندگان را به
خود جلب میسازد. کاشیکاری بسیار زیبا بر بنای هشتگوش گنبد، از جمله هنرمندی سازندگان آن است.
با توجه به سنگنبشتهای که در سمت راست در ورودی بقعه مشاهده میشود، به نظر میرسد که این مکان، محل دفن
امامزادههایی از فرزندان امام حسن مجتبی (ع)، امام صادق (ع)، امام کاظم (ع)، امام حسین )ع( و فرزندان جعفر طیار، است. این
بارگاه مطهر، از قرنها پیش، مورد احترام و محبت مردم بوده و امروزه نیز زیارتگاه عاشقان و دلسوختگان اهل بیت (ع) است.

دریاچه سد گلپایگان
یکی دیگر از جاهای دیدنی گلپایگان، سازهای است متعلق به اوایل قرن ۱۴ خورشیدی که به »سد گلپایگان« نام گرفت. فرایندی
ساخت این سد که عنوان نخستین سد مخزنی خاکی و نیز اولین سد مدرن ایران را به خود اختصاص داده است، از سال ۱۳۲۳
شمسی شروع و در سال ۱۳۳۶ به اتمام رسید. این سد با استفاده از روشهای سنتی احداث شده که امروزه ظرفیت مخزن آن با
حدود دوبرابر افزایش نسبت به زمان ساخت، بالغ بر ۴۲ میلیون متر مکعب است. این اثر ارزشمند با ارتفاعی برابر با ۵۷ متر، در ۲۵
کیلومتری گلپایگان و در نزدیکی روستای »اختوان«، بر رودخانه »قمرود« قرار دارد.
آدرس: ۱۸ کیلومتری جنوب غربی شهر گلپایگان


روستای وانشان
روستای وانشان، یکی دیگر از مکانهای فوقالعاده دیدنی و تاریخی شهرستان گلپایگان است که در فاصله ۱۲ کیلومتری از جنوب
شرقی این شهر و در نزدیکی مزرعه امیریه، واقع شده است. در لغت وانشان بهمعنای »نشانی از آب خوب« است و احتماال این
روستا نیز بهدلیل برخورداری از آبی زالل و گوارا، به این نام شهرت یافته است. ساکنان روستا به گویش وانشانی یا ونیشونی صحبت
میکنند.
جالب است بدانید که طبق تحقیقات انجام شده توسط میراث فرهنگی استان اصفهان، قدمت سفالینهها، بقایای استخوان چند
انسان و برخی دیگر از آثار کشف شده در غاری کهن و نیز کوه تیر روستا، به سه هزار سال پیش بازمیگردد و همین امر نشان از
تاریخ کهن روستا دارد. از جاذبههای این روستای زیبا میتوان به لمبی، دزی، چشمه گردکونی (مورا)، دیگا، بابادودورشاه، کوه محد
حیدر، مزرعه امیریه، حسن آباد، قلعه جمال، بقعه قریه وانشان که محل دفن امامزاده ابوالفتح (ع) است و درختی کهنسال در
مجاورت دیوار امامزاده که بالغ بر هزار سال از عمر آن میگذرد، اشاره کرد.

بقعه امامزاده سیدالسادات
از دیگر جاذبههای گردشگری مذهبی، میتوان به بارگاه »امامزاده سیدالسادات« گلپایگان اشاره کرد که دارای پیشینهای متعلق به
قرن ۸ هجری قمری است. ایوان، غرفهها در دو طبقه، گنبدی به ارتفاع ۹ متر، گلدسته، سه در ورودی و سنگنبشتهی در ورودی،
بخشهایی از این مکان مذهبی و ۸۰۰ ساله است که با توجه به متن سنگنبشته، این مکان پیکر سه نفر از فرزندان امام موسی
کاظم (ع) به نامهای امامزاده اسحاق، امامزاده منصور و امامزاده رضا را میزبان است.
به نظر میرسد که در زمان سلطنت فتحعلی شاه قاجار، این بارگاه مورد مرمت و بازسازی قرار گرفته و بهشکل امروزی تبدیل شده
است. از ویژگیهای چشمگیر امامزاده سیدالسادات، گنبد فیروزهای آن است که با کاشیکاری هنرمندانه، بسیار زیبا جلوه میکند.
موقعیت قرارگیری بقعه در مجاورت مسجد جامع گلپایگان از دیگر ویژگیهای این مکان ملکوتی است که امروزه به یکی از
محبوبترین جاذبههای گردشگری مذهبی شهرستان گلپایگان، تبدیل شده است.


ارگ تاریخی گوگد
»ارگ تاریخی گوگد«، بنایی است کهن، عظیم و ساخته شده از خشت و گل که دارای قدمتی بالغ بر ۴۰۰ سال است و در پنج
کیلومتری مسیر گلپایگان به تهران و درون شهری به همین نام واقع شده است. با توجه به اسناد ثبت شدهی ارگ که دارای
پیشینهای نزدیک به ۱۳۰ سال است، چنین به نظر میرسد که نیمی از ساختمان ارگ، مهریه همسر »علیخان« است که توسط
وی، به همسرش واگذار شده است؛ بنابراین از آن زمان این ارگ به »ارگ علیخانی« نیز شهرت یافت.
ارگ گوگد گلپایگان، در تابستان کاروانسرا و در زمستان دژی دفاعی بوده است
جالب است بدانید که کاربری ارگ با توجه به شرایط سیاسی، کامال متفاوت بوده است. بهگونهای که در زمان صلح بهعنوان
کاروانسرا و در زمان جنگ بهعنوان دژی نظامی مورد استفاده قرار میگرفت. این اثر ملی دارای در ورودی، حوض آب، شاهنشین،
سیستم امنیتی (سوراخهایی بر دیوارهای بلند وجود دارد که سیستم امنیتی هشدار دهنده بوده است)، چاه، چندین بنا در پیرامون
فضای داخلی، طبقاتی در باال و پایین ارگ و بخشهای دیگری است.
آدرس: شهر گوگد، پنج کیلومتری جاده گلپایگان


جاذبه گردشگری سد کوچری
در گذشته کوچری روستایی بسیار زیبا در گلپایگان بود که به دلیل ساختن سد از بین رفت اما در حال حاضر منطقه و سد کوچری
مکان بسیار زیبا و مناسبی برای استراحت و طبیعتگردی است.



</span>
</div>

<div class="" style="text-align: center;">
   <div class="stars " style="text-align: right;">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </div> 
</div>

</ion-card>
<div class="row text-center contact-detaile-style " style="justify-content: center; justify-items: center; margin-bottom: 20px; margin-top: 10px;">
  <div class="col-4 contactus-style1 contactus-style2" style="margin-left: 20px; color: aliceblue;">
    <a style="text-decoration: none; color: aliceblue;" href="https://instagram.com/golestankooh_org?igshid=Yzg5MTU1MDY="  target="_blank" rel="noopener noreferrer">
      <span class=" link-insta  " style="height: 25px; margin-bottom: 7px; color: aliceblue;">
        <ion-icon name="logo-instagram" style="padding-right: 3.5px; padding-top: 5px;"></ion-icon>
      </span>Golestankooh_org
    </a>
  </div>
  <div class="col-4 contactus-style1 " style="margin-left: 35px; margin-bottom: 15px;">
    <span class="text-center   " style="height: 25px; margin-bottom: 7px;">
        <img class="" src="assets\imges\Phone.png" style="width: 20px; height:20px; font-size: smaller; margin-bottom: 7px; ">
    </span>031-5777-9955
</div>
</div>
</div>
</ion-content>
