.bg-toolbar{
    width: 1500px;
  }
  .menu-item-style{
    // font-family: ;
    font-weight: bold;
    color: #002540;
    font-family: "custom"; 
  }
  .icon-color{
    color: #002540;
  }
  .menu-logo{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-items: center!important;
    justify-content: center!important;
    text-align: center; 
  }
  
  .link-style{
  
  }
  link-style:link {
    text-decoration: none;
  }
  link-style:hover {
    text-decoration: none;
  }
  
  .menu-pages {
    // margin-right: 300px;
    // margin-left: 300px;
    // padding-left: 200px;
    // padding-right: 200px;
  }
  .logo-text-style{
    width: 150px;
  }
  .Menu-Black-Style{
    // width: 5px;
    // height: 5px;
    size: 1.5%;
  }
  .login-Black-Style{
    size: 1.5%; 
  }
  .menu-pages{
    margin-top: -100px;
    // margin-right: 20px;
  // justify-content: center;
  // display:inline-block;
  // min-width:800px;
  // max-width:800px;
  // margin-left: 0 auto;
  
  
  }
  .menu-pages-card{
    // display:inline-block;
    // min-width:800px;
    max-width:800px;
    margin-left: 30%;
    height: 350px;
    border-radius: 20px;
    border-color: #7e8181;
    box-shadow: 0px 1px 0px 1px #b6b7b7;
  }
  
  .logo-text{
    text-align: end!important;
    justify-content: end!important;
    justify-items: end!important;
  
  }
  .home-detailes-style{
    font-size: 13px;
    margin-top: 0px;
    display:flex;  
    list-style:none;
    color:white;
    text-align: center; 
    padding-right: 3px;
    padding-left: 3px;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
  
  }
  
  .home-detailes-style:hover{
    color: #002540;
    background-color: white;
    border: #002540;}
  
    .home-detailes-style1{
      background-color: #002540;
      // width: auto;
      text-align: center;}
      .bashgah{
        margin-right: 3px;
      }
  
      .Main-Pahe-Bottom{
        width: 85%;
        object-fit: cover;
        object-position: center;
        margin-top: 30px;
        border-radius: 20px;
      max-width: 750px;
    max-height: 270px;}
  
        .contactus-style1{
          vertical-align:text-bottom ;
          margin-top: 15px;
          margin-left: 6px;
          size: 15px;
          border-radius: 15px;
          width: 153px;
          height: 25px;
          color: white;
          background-color: #002540;
        }
        
  
        .contactus-style2{
          font-size:13px;
        }
  
  
          .contactus-style{
            vertical-align:text-bottom ;
            margin-top: 15px;
            margin-left: 6px;
            size: 15px;
            border-radius: 15px;
            width: 153px;
            height: 20px;
            color: white;
            background-color: #002540;
          }
  
  
            .logotext-style2{
              text-align: right;
              justify-content: end!important;
              justify-items: end!important;}
  
  
  
              :root[mode=ios] .muli,
  :root[mode=md] .muli{
    // --ion-font-family:  'B Homa'!important;
    font-family:  'B Homa' !important;
  }
         
  
  .link-insta{
    text-decoration-color: whitesmoke;
  }
  .link-insta:link{
    color: whitesmoke;}
         
       
  
  