
<ion-card class="card-of-text" style="margin-top: 40px; ;">
  <div class="logo-style">
  <img class="logo-style" src="assets\imges\logo1.png" style="width: 100px; height:100px; ">
</div>

<div class="text-style">
<span class="text-style">

  جاذبه های گردشگری شهرستان فریدونشهر

آبشار پونه زار
آبشار پونه زار را بیتردید میتوان یکی از زیباترین جاهای دیدنی فریدون شهر دانست. به همین خاطر در ابتدا قصد داریم درباره
این آبشار تماشایی با شما عزیزان و همراهان صحبت کنیم. این آبشار با بیش از ۱۰ متر ارتفاع از چشمههای ارتفاعات زاگرس
سرچشمه میگیرد. آب این آبشار حاصل از آبشدن یخچالهای طبیعی قلل مرتفع زاگرس است. به همین خاطر در ۶ ماه اول سال
آب این آبشار بهمراتب جریان بیشتری پیدا میکند.
این آبشار زمانی که از ارتفاغات به پایین میریزد، بسیار خرامان به چند انشعاب مختلف تقسیم میشود. به طوری که اگر از دور به
این کوهستان نگاه کنید، انگار که چندین و چند آبشار مختلف کوچک از روی صخرهها به پایین میریزند. در مسیر این آبشار، بر
روی صخره خزه بسته است و مناظری خیرهکننده را به وجود میآورد. از دوردست، آب این آبشار از دور بهخوبی میدرخشد و
مناظری نفسگیر را به ارمغان میآورد.
در نهایت این آبشار به یک حوضچهای سنگی و کوچک میریزد. آب این حوضچه از اشک چشم انسان نیز زاللتر است. اطراف این
آبشار بر روی صخره خزه بسته است. آب آبشار بهحدی سرد است که بیش از چند ثانیه نمیتوانید زیر آن قرار بگیرید. نسیمی
خنک از کوه برخواسته و صورت شما را نوازش میدهد. باد در بین موهای شما میپیچد و طبیعت به این شکل با شما صحبت
میکند. این آبشار را بیتردید میتوان یکی از زیباترین آبشارهای ایران نیز دانست. همچنین در مراتع اطراف میتوانید شاهد دشت
پونههای وحشی باشید. این منطقه برای کوهپیمایی و عکاسی بینظیر است.

پیست اسکی فریدون شهر
خارج از تصور نیست که در شهری با ارتفاع ۵۰۰،۲ متر از سطح دریا که با رشتهکوههای زاگرس نیز مجاور است، پیست اسکی
وجود داشته باشد. پیست اسکی فریدون شهر یکی از بهترین پیستهای اسکی در ایران است. در حقیقت به جز پیستهای اسکی
تهران، پیستهای محدودی در شهرهای دیگر ایران وجود دارند. پیست اسکی فریدون شهر یکی از مهمترین جاهای دیدنی فریدون
شهر به حساب میآید. این جاذبه توانسته همهساله گردشگران بسیاری را جذب خود کند. دسترسی به پیست اسکی دیزین، آبعلی
و یا شمشک تهران برای ساکنین شهرهای مرکزی ایران بسیار دشوار است. به همین خاطر پیست اسکی فریدون شهر از نظر
دسترسی بهترین گزینه برای ساکنین شهرهای مرکزی ایران به حساب میآید.
برای دسترسی به این پیست اسکی باید خودتان را به ۶ کیلومتری فریدون شهر برسانید. این پیست در ارتفاعات گردنه روستایی با
نام روستای چُغُیورت واقع شده است. بد نیست بدانید پیست اسکی فریدون شهر، تنها پیست اسکی استاندارد در تمام استان
اصفهان به حساب میآید. این پیست دارای شیب ۳۵ درصد است و البته در برخی قسمتها شیب آن به ۷۰ درصد میرسد. ارتفاع
پیش از سطح دریا ۶۳۰،۲ متر است. پیست از اوایل زمستان آغاز به کار میکند. البته برای لذتبردن از پیست اسکی الزم نیست
حتماً مهارت و تجهیزات اسکی داشته باشید. در حقیقت اکثر بازدیدکنندگان پیست افرادی هستند که خودشان را به ارتفاعات آن
میرسانند و با یک تیوپ از روی برف به پایین سر میخورند. این تفریح بسیار هیجانانگیز و لذتبخش است. الزم به ذکر است در
این پیست از تمامی امکانات رفاهی، خدماتی و تفریحی بهرهمند میشوید.


چشمه لنگان
چشمه لنگان یکی از معروفترین جاهای دیدنی فریدون شهر به حساب میآید. این چشمه در ۱۷ کیلومتری جنوبغرب فریدون
شهر قرار دارد. چشمه لنگان از زیر تختهسنگهایی سخت و بزرگ با فشار به بیرون میجوشد. برخالف بسیاری از چشمههای دیگر
که جریان کمی دارند، آب این چشمه بسیار تند و باشدت است. جالب است بدانید بخشی از آب این چشمه با کمک ۳ ایستگاه
پمپاژ، آب شرب مناطق اطراف را تأمین میکند. بر اساس آزمایشهای انجامشده، آب این چشمه جزء گواراترین آبهای زیرزمینی
در تمام استان اصفهان است. در حقیقت با خط لوله طوالنی، تا شعاع ۱۴ کیلومتری چشمه از آب آن بهرهمند میشوند.
عالوهبر اهمیت چشمه لنگان در تأمین آب شرب منطقه، این چشمه یک تفرجگاه مهم طبیعی نیز به حساب میآید. بسیاری از
ساکنین فریدون شهر، این مکان را برای تعطیالت آخر هفته خود انتخاب میکنند. در روز سیزده بدر، جای خالی در نزدیکی
چشمه یافت نمیشود. البته به یاد داشته باشید که در شش ماه دوم سال بههیچوجه امکان بازدید از این چشمه وجود ندارد. چشمه
لنگان در مناطق نیمهکوهستانی قرار دارد. به همین خاطر بخشی از مسیر را باید با پای پیاده طی کنید. طیکردن این مسیر در
برف و سرما تقریباً غیرممکن است.
دورتادور این چشمه تا چشم کار میکند، مراتع سرسبز و زیبا دیده میشود. در این منطقه میتوانید شاهد حضور پرندگان کوچک
و بزرگ متعدد باشید. آب چشمه بسیار خنک و گوارا است. زمانی که یک بار آب این چشمه را بهصورت خود بزنید، انگار که دوباره
جوان میشوید. بازدید از این آبشار را حتماً در برنامه سفرتان به استان اصفهان باید قرار دهید. البته نگران دسترسی به چشمه در
روزهای گرم سال نباشید. در شش ماه اول سال که خبری از برف نیست، میتوانید با وسیله نقلیه خود تا نزدیکی چشمه پیش
بروید.


روستای بنه کمر
بازدید از روستاهای کمتر شناختهشده، بکر و دورافتاده در سفر به فریدون کنار میتواند تجربهای بسیار شیرین و دلپذیر باشد. این
روستا در ۳۰ کیلومتری غرب شهرستان فریدون شهر قرار دارد. روستای بنه کمر جزء روستاهای ییالقی استان اصفهان به حساب
میآید. بسیاری از مردم روستا بهدلیل سرمای شدید هوا، زمستان خانههای خود را ترک میکنند. در زمستان برفی چند متری تمام
بخشهای روستا را میپوشاند. مردم روستا هنوز هم دارای زندگی آرام و دوستداشتنی خود هستند. اکثر اهالی به مشاغلی همانند
کشاورزی، باغداری و دامداری مشغول هستند. جالب است بدانید برخالف تصور، مردم این منطقه به گویش بختیاری صحبت
میکنند. از نظر ترکیب جمعیتی، بخش عمده مردم این روستا جزء اقوام بختیاری و بخشی دیگر گرجی هستند. در حقیقت حدود
۹۰ سال پیش این اقوام به فریدون شهر و این روستا کوچ کردند.
در این روستا عالوهبر تماشای مناظر بکر روستایی، میتوانید به دل طبیعت بزنید. در نزدیکی این روستا، دهها جاذبه طبیعی زیبا و
دوستداشتنی وجود دارد. دره تنگوله و آبشار دربند جزء جاهای دیدنی این روستا به حساب میآیند. البته برای تماشای این
دیدنیها باید کمی پیادهروی را به جان بخرید. با تمام خستگی، زمانی که به آبشار دربند یا دره تنگوله برسید، طول مسیری که
پیمودهاید را فراموش خواهید کرد. در نزدیکی منطقه دهها چشمه جوشان، جویهای جاری، رودهای کوچک و آبشارهای تماشایی
انتظار شما را میکشند. برخی از مردم روستا برای امرار معاش، خانههای خود را به گردشگران کرایه میدهند. با اقامت در این
خانهها، سفری خاص را تجربه خواهید کرد. الزم به ذکر است در اردیبهشتماه میتوانید از دشت اللههای واژگون منطقه دیدن
کنید.


کوه ونیزان
همان طور که خاطرنشان کردیم، فریدون شهر یکی منطقه نیمهکوهستانی است. این شهر در ارتفاع ۵۰۰،۲ متری از سطح دریا قرار
دارد. اگر اهل ماجراجویی باشید، میتوانید خودتان را به کوههای اطراف برسانید. البته برای شروع این ماجراجویی باید تجهیزات
الزم، مهارت کافی و استقامت بدنی داشته باشید. کوه ونیزان در ارتفاع ۲۰۱،۳ متری از سطح دریا قرار دارد. این کوه در روستایی با
نام روستای حیران واقع شده است. این روستا یکی از دورافتادهترین روستاهای فریدون شهر به حساب میآید. این کوه جزء دامنه
رشتهکوههای زاگرس است. در این کوه میتوانید شاه پوشش گیاهی نیمه جنگلی بسیار زیبا باشید. بیشتر درختان این منطقه را
درختان بلوط تشکیل میدهند. در این کوه، رودخانه رودبار جریان دارد و بهسمت لرستان میرسد.
اگر بهدنبال تماشای مناظر بکر ایران هستید، باید سری به کوه ونیزان بزنید. در این کوه همانند روز اول خلقت زمین، خبری از
هیچگونه آلودگی نیست. حیوانات با آرامش در کنار هم زندگی میکنند. انسان خطری برای اکوسیستم ندارد. خبری از زباله در
مسیر نیست. پرندگان زیر گوش شما آواز میخوانند. رودخانه با صدای شرشر خود با شما صحبت میکند. باد صورتتان را نوازش
میدهد و زمین زیر پای شما استقامت میکند. کوه ونیزان جزء مناطقی است که حتی تصاویر فراوانی از آن وجود ندارد. پس اگر
اهل عکاسی هستید، میتوانید از این منطقه بهعنوان یک لوکشین بکر، عالی و جدید استفاده کنید.


آبشار پشندگان واقع در دهستان پشتکوه روستای پشندگان:
شهرستـــــان فریدونشهر بدلیــل بارش ساالنه حدود ۷۰۰ میلیمتر دارای آبشارها و چشمه سارهای زیبای فراوانی است که
خصوصاً در ارتفاعات پیشکوه و پشتکوه به چشم می خورد . آبشار پشندگان در فاصله ۷۵ کیلو متری جنوب فریدونشهر است در
پائین دست روستای پشندگان واقع در دهستان پشتکوه فریدونشهر قرار دارد.
ارتفاع این آبشار حدود ۴۵ متر است که در فصول بهار و تابستان با حرکت آب بر روی صخره های پائین دست جلوه ای زیبا از
قدرت آفریدگار را در این طبیعت بکر و کوهستان زیبا را به نمایش می گذارد.
وجود انواع درختان جنگلی شامل سیب ، زالزالک ، بنه ، بلوط و گردو و انواع پرندگان وحشی، بر طراوت و دلنشینی این جاذبه
طبیعی افزوده است.


آبشار طرزه آبشاری صخرهای در دل کوه
آبشار طرزه یکی از جاذبههای طبیعی و دیدنی در منطقه پشتکوه فریدونشهر است که از ارتفاعات زاگرس مرکزی سرچشمه
میگیرد و حدود ۸۵ کیلومتر با مرکز شهرستان فاصله داشته و در کنار روستای زیبای طـــرزه است، ارتفاع این آبشار حدود ۴۰
متر و در تمام فصول سال جلوهای زیبا از ریزش آب بر روی صخرهها به نمایش میگذارد.


چشمه سراب­ آب لت
این چشمه پر آب در کوه­های جنوب شرقی فریدونشهر واقع در منطقه وحدت­ آباد قرار دارد و از جاهای دیدنی فریدونشهر می
باشد. این چشمه بعد از جاری شدن از مبدأ در پایین دست به دو شعبه تقسیم می­شود که یکی از شعبه­ های آن به روستای
سروشجان و یکی دیگر از آنها به محله وحدت ­آباد می­رود که مصرف آب آن کشاورزی است.


تنگه حنـا فریدونشهر
این تنگه در حدود ۶۵ کیلومتری فریدونشهر و یک کیلومتری قریۀ گوگان قرار دارد. کانالی است که در اثر جریان دائمی آب و
فرسایش کوه بوجود آمده است. بصورت دو دیوار قائم و موازی به بلندای ۲۰ تا ۳۰ متر و بفاصلۀ ۸ تا ۱۲ متر از یکدیگر می باشد.
دو طرف دیوارۀ مذکور النه های کبوتران و کلنی های زنبور عسل بر زیبائی چشم انداز می افزاید. رودخانۀ »چاقاگلی« از این معبر
می گذرد. همچنین آب چند چشمه نیز از این کانال عبور می کند.



</span>
</div>

<div class="" style="text-align: center;">
   <div class="stars " style="text-align: right;">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </div> 
</div>

</ion-card>
<div class="row text-center contact-detaile-style " style="justify-content: center; justify-items: center; margin-bottom: 20px; margin-top: 10px;">
  <div class="col-4 contactus-style1 contactus-style2" style="margin-left: 20px; color: aliceblue;">
    <a style="text-decoration: none; color: aliceblue;" href="https://instagram.com/golestankooh_org?igshid=Yzg5MTU1MDY="  target="_blank" rel="noopener noreferrer">
      <span class=" link-insta  " style="height: 25px; margin-bottom: 7px; color: aliceblue;">
        <ion-icon name="logo-instagram" style="padding-right: 3.5px; padding-top: 5px;"></ion-icon>
      </span>Golestankooh_org
    </a>
  </div>
  <div class="col-4 contactus-style1 " style="margin-left: 35px; margin-bottom: 15px;">
    <span class="text-center   " style="height: 25px; margin-bottom: 7px;">
        <img class="" src="assets\imges\Phone.png" style="width: 20px; height:20px; font-size: smaller; margin-bottom: 7px; ">
    </span>031-5777-9955
</div>
</div>
</div>
</ion-content>
