<ion-content  overflow-scroll="false" >
  <div class="thumbs">
    
    <a href="#target1"><img src='https://golestankooh.com/apppictures/gamecenter/1.jpg' alt=''></a>
    <a href="#target2"><img src='https://golestankooh.com/apppictures/gamecenter/2.jpg' alt=''></a>
    <a href="#target3"><img src='https://golestankooh.com/apppictures/gamecenter/3.jpg' alt=''></a>
    <a href="#target4"><img src='https://golestankooh.com/apppictures/gamecenter/4.jpg' alt=''></a>
    <a href="#target5"><img src='https://golestankooh.com/apppictures/gamecenter/5.jpg' alt=''></a>

  
  
  
  
  </div>
  
  <div class="lightbox">
    <div class="target" id="target1">
      <div class="content">
        <img src='https://golestankooh.com/apppictures/gamecenter/1.jpg' alt=''>
      </div>
      <a href="#target2" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target2">
      <a href="#target1" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/gamecenter/2.jpg" alt=''></div>
        <a href="#target3" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target3">
      <a href="#target2" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content"><img src='https://golestankooh.com/apppictures/gamecenter/3.jpg' alt=''></div>
      <a href="#target4" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target4">
      <a href="#target3" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/gamecenter/4.jpg" alt=''></div>
        <a href="#target5" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    <div class="target" id="target5">
      <a href="#target4" title="previous"><img src='https://golestankooh.com/apppictures/left.png' alt='' style="width: 50px;"></a>
      <div class="content">
        <img src="https://golestankooh.com/apppictures/gamecenter/5.jpg" alt=''></div>
        <a href="#target6" title="next"><img src='https://golestankooh.com/apppictures/right.png' alt='' style="width: 50px;"></a>
    </div>
    

    
    <a href="#!" class="close nav"><img src='https://golestankooh.com/apppictures/exit.png' alt='' style="width: 25px;"></a>
  </div>